* {
  margin: 0;
  padding: 0;
}

body, html{
  font-family: 'Montserrat', sans-serif!important;
  position: relative;
  z-index: -11;
  height: 100%; 
  overflow: auto;
  overflow-x: hidden;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

option, select, input{
  outline: none;
  border: none
}

.mt-10{margin-top: 10px;}.mt-20{margin-top: 20px;}.mt-30{margin-top: 30px;}.mb-10{margin-bottom: 10px;}.mb-20{margin-bottom: 20px;}.mb-30{margin-bottom: 30px;}.mb-70{margin-bottom: 50px;}
