:root {
  --main-color: #2D3142;
  --second-color: #E2813A;
}

.Home-container{
  background: var(--main-color) url('../../assets/imgs/Ballon.png') bottom right;
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: 30%;
}

.Home-description{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 10%;
  display: inline-block;
  color: #ffffff;
}

p{
  font-weight: 100;
}
.Home-choice{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.Home-choice-compare{
  color: var(--second-color);
}

.Home-choice-analyse, .Home-choice-compare{
  text-decoration: none;
  border: 1px solid #575757;
  width: 47%;
  border-radius: 10px;
  text-align: center;
  padding: 10px 0;
  font-weight: bold;
}