:root {
  --main-color: #2D3142;
  --second-color: #E2813A;
}
section{
  position: relative;
}
.Home-container{
  background: var(--main-color) url('../../assets/imgs/BG.jpg');
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.Home-description{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 10%;
  display: inline-block;
  color: #ffffff;
}

.mb-10 {
  font-size: 2.3rem;
}

.mb-70 {
  padding-top: 10px;
  font-size: 1.1rem;
  line-height: 1.7;
  font-weight: 200;
}

p{
  font-weight: 100;
}
.Home-choice{
  margin-right: 40px;
      display: flex;
      justify-content: space-between;
      width: 100%;
}

.Home-choice-compare{
  background-color: var(--second-color);
  color: #fff;
  border: 1px solid var(--second-color);
}

.Home-choice-compare:hover{
  background-color: #D6742E;
  color: #fff;
  transition: 1s;
  cursor: pointer;
}

.Home-choice-analyse:hover{
  background-color: #fff;
  color: var(--second-color);
  transition: 0.8s;
  cursor: pointer;
}

.Home-choice-analyse{
border: 1px solid #fff;
}

.Home-choice-analyse, .Home-choice-compare{
  text-decoration: none;
  width: 290px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  text-align: center;
  padding: 10px 0;
  font-weight: bold;

}
