/* GENERAL */

:root {
  --color-player-a: #2D3142;
  --color-player-b: #E2813A;
}
.layer {
  background-color: #2d3142eb;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.PlayerB .layer {
  background-color: #e2813aba;
}


.Players-container .mb-10 {
  color: #fff;
  padding-bottom: 10px;
}

.container ul{
  max-width: 70%;
  margin: 0 auto;
  max-height: 125px;
}



svg{
  display: block;
}

select option {
  margin-left: 40px;
}
.Players-container {
  position: relative;
  display: flex;
  width: 100vw;
  height: 100vh;
  background:var(--color-player-a);
}
.content-box {
  position: absolute;
  height: 100%;
}
.PlayerA{
  width: 50%;
  max-width: 95%;
  min-width: 5%;
}

.PlayerB{
  background:var(--color-player-b);
  width: 50%;
  max-width: 95%;
  min-width: 5%;
}
 .PlayerA .container, .PlayerB .container, input .container, select .container{
  color: #ffffff!important;
  fill: #ffffff;
}
.Player-container{
  display: flex;
  flex-direction: column;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  height: 300px;
  width: 70%;
  margin: 0 auto;
}
.Player-container-plus{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  margin: 0 auto;
  background-color: var(--color-player-b);
}
.PlayerA .Player-container-plus{
  background-color: var(--color-player-a);
}
.Player-container .description{
  color: #fff;
  font-size: 1.0rem;
  line-height: 1.6;
  font-weight: 200;
}
.Search-container{
  display: flex;
  justify-content: space-between;
}

.Search-container input{
  padding-left: 10px;
  width: 75%;
  height: 42px;
  -webkit-clip-path: polygon(0 0, 100% 0, 97% 100%, 0% 100%);
clip-path: polygon(0 0, 100% 0, 97% 100%, 0% 100%);
}

.Search-container select{
  width: 25%;
  padding-right: 10px;
  height: 42px;
  -webkit-clip-path: polygon(9% 0%, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(9% 0%, 100% 0, 100% 100%, 0% 100%);
  border-radius: 0;
  -webkit-appearance: none;
  text-align-last: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url('../../assets/imgs/arrow.png') 92% / 12px no-repeat #ffffff;
  font-family: 'Montserrat', sans-serif;
}

.container .Search-container select{
  background: url('../../assets/imgs/arrow-white.png') 92% / 12px no-repeat #ffffff;
}

.resizer {
  position: absolute;
  z-index: 9999999;
  height: 50px;
  width: 50px;
  top: 50%;
  right: -30px;
  background-color: var(--color-player-a);
  border-radius: 50%;
  border: 5px solid #ffffff;
  transform: translateY(-50%);
  text-align: center;
}
.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.resizer img{
  vertical-align: middle;
}
.resizer:hover {
  cursor: ew-resize;
}
input::-webkit-input-placeholder, input { /* Edge */
  font-size: 14px;
    padding-left: 10px;
    font-weight: 200;
  font-family: 'Montserrat', sans-serif;
}
input:-ms-input-placeholder, input { /* Internet Explorer 10-11 */
  font-size: 14px;
    padding-left: 10px;
    font-weight: 200;
  font-family: 'Montserrat', sans-serif;
}
input::placeholder, input {
  font-size: 14px;
    padding-left: 10px;
    font-weight: 200;
  font-family: 'Montserrat', sans-serif;
}

.container ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
.container ::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
.container :-ms-input-placeholder { /* IE 10+ */
  color: white;
}
.container :-moz-placeholder { /* Firefox 18- */
  color: white;
}

.PlayerB .container ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #404040;
}
.PlayerB .container ::-moz-placeholder { /* Firefox 19+ */
  color: #404040;
}
.PlayerB .container :-ms-input-placeholder { /* IE 10+ */
  color: #404040;
}
.PlayerB .container :-moz-placeholder { /* Firefox 18- */
  color: #404040;
}
  
.list-group{
  display: block;
  width: 100%;
  background: white;
  max-height: 260px;
  overflow: scroll;
}

.container .list-group{
  max-height: 105px;
}

.list-group-item { 
  color: black;
  transition: 0.2s ease;
  display: flex;
  background-color: white;
  align-items: center;
  padding-bottom: 5px;
  padding-top: 5px;
  border-bottom: 0.3px solid #E2E8F0;
  transition: 0.5s ease;
  cursor: pointer;
  text-transform: capitalize;
}

.list-group-item:hover { 
  border-color: white;
  background-color: #e2e8f04d;
}

.list-group-item img { 
  max-width: 40px;
  max-height: 40px;
  border-radius: 50%;
  border: 1px solid black;
  margin-right: 15px;
  margin-left: 5px;
}

.list-group-item p { 
  font-weight: 400;
}

.img-player{
  max-width: 120px;
  max-height: 120px;
  border-radius: 50%;
  border: 3px solid white;
}
.img-team{
  position: absolute;
  width: 100%;
}
.Player-info-container{
  justify-content: space-around;
  align-items: center;
  height: 85%;
}
.Player-info{
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.Stats-container{
  display: flex;
  overflow-x: hidden;
  white-space: nowrap;
  justify-content: center;
  max-width: 720px;
  align-items: center;
  margin-left: 30px;
}
.Stats-item-container{
  display: inline-block;
  width: auto;
}
.Stats-item-container:nth-child(2), .Stats-item-container:nth-child(3){
  display: none;
}
.Stats-container-plus{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 80%;
}
.Stats-item{
  width: 200px;
  height: 100px;
  margin-right: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Stats-item p{
  padding: 0 10px;
}
.Stats-item p:nth-child(2){
  font-weight: bold;
  font-size: 35px;
}
.Stats-item p:first-child{
  font-weight: bold;
}
.Stats-item p:not(:nth-child(2)){
  text-align: end;
}

.PlayerA .Stats-item, .PlayerA .Stats-item-plus, .PlayerB .Search-all-container.fixed select, .PlayerB .Search-all-container.fixed input, .PlayerB .Search-all-container.fixed .Search-container{
  background-color: var(--color-player-b);
}
.PlayerB .Stats-item, .PlayerB .Stats-item-plus{
  background-color: var(--color-player-a);
}

.PlayerA .Search-all-container.fixed select, .PlayerA .Search-all-container.fixed input, .PlayerA .Search-all-container.fixed .Search-container{
  background-color: #3E435C;
}

.PlayerB .Search-all-container.fixed select, .PlayerB .Search-all-container.fixed input, .PlayerB .Search-all-container.fixed .Search-container{
  background-color: #FA8D3E;
}

.Player-container .Search-all-container {
  padding-top: 30px;
}

.PlayerA .Stats-item-plus{
  -webkit-clip-path: polygon(0 0, 100% 0, 98% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 98% 100%, 0% 100%);
}
.PlayerB .Stats-item-plus{
  -webkit-clip-path: polygon(10px 0, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(10px 0, 100% 0, 100% 100%, 0% 100%);
}
.PlayerB .all-content{
  background-color: var(--color-player-b);
}
.all-content{
  overflow-y: hidden;
  height: 100%;
  display: flex;
}
.up{
  transform: translateY(-150%);
}
.all-content .Player-container-plus{
  transition: 1s ease-in;
}
.Stats-item-plus{
  width: 100%;
  height: 65px;
  margin-bottom: 20px;
}
.PlayerB .Player-container-plus-hide .Stats-item-container-plus{
  margin-left: 20px;
}
.text-up{
  position: absolute;
  bottom: 20px;
  display: inline;
  background: yellow;
  transform: translateX(-50%);
  left: 50%;
  z-index: 999;
}
.hidden{
  display: none;
}

.Player-container-plus-hide{
  display: none;
  position: relative;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  width: 40%;
  margin: 0 auto;
}

.PlayerB .Player-container-plus-hide{
  align-items: flex-start;
}
.container{
  width: inherit;
  display: initial;
  height: 100%;
}

.container-flex{
  display: flex;
}

.container-flex-reverse{
  flex-direction: row-reverse;
}

.fixed{
  position: fixed;
  top: 0;
  z-index: 9999;
  width: inherit;
}


.donut-chart-text-value{
  font-size: 60%!important;
}
.donut-chart-text-subtext{
  font-size: 30%!important;
}

.donut-chart-text-subtext:last-child{
  display: none;
}

.donut-chart-arcs-arcpath-0{
 fill: white;
}

.PlayerA .donut-chart-arcs-arcpath-1{
  fill: var(--color-player-b);
}
.PlayerB .donut-chart-arcs-arcpath-1{
  fill: var(--color-player-a);
}

.large{
  width: 300px!important;
  height: 300px!important;
}

.radar-chart-category-att, .radar-chart-category-def{
  position: relative;
  z-index: 99999;
}

.equipe, input{
  text-transform: capitalize;
}

