
.absolute{
  position: absolute;
  width: 300px;
  top: 60%;
  transform: translateY(-50%);
}
.logo-team-first-player{
  left: 50px
}
.logo-team-second-player{
  right: 50px
}
.layer-radar{
  background-color: #f2efe5eb;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.radar-chart-container{
  height: 85vh;
  width: 100%;
  padding-bottom: 50px;
}
.radar-chart{
  height: 650px;
}
.line-chart{
  height: 100px;

}
.radar-chart, .radar-chart .chartjs-render-monitor{
  position: relative;
  z-index: 5;
}
  .radar-chart, .radar-chart-category, section{
    background-color: #F2EFE5;
  }

  .radar-chart-category{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    width: 30%;
    margin: 20px auto;
  }

  .radar-chart-category button{
    font-family: 'Montserrat', sans-serif!important;
    padding: 10px 40px;
    border: 1px solid var(--color-player-a);
    outline: none;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.5s ease-out;
    cursor: pointer;
  }

  .radar-chart-category button:hover {
    color:var(--color-player-b);
    background-color: var(--color-player-a);
  }

  .radar-chart-category .active{
    color:var(--color-player-b);
    background-color: var(--color-player-a);
  }
